@page
@model SchoolClient.Pages.AddTeacherModel
@{
}
<form method="post">
   Name <input type="text" name="name"  />
   Position  <input type="text" name="position" />
    <input type="submit" value="Add" /> <a href="./Teachers">Back</a>
</form>